<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('home') }}">
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">
                    <span class="text">Utilisateurs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('construction_site_index') }}">
                    Chantiers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('check_in_index') }}">
                    Pointages
                </a>
            </li>
        </ul>

    </div>
</nav>
