<!-- Modal -->
<div class="modal fade" id="modalOfDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression!</h5>
                </div>
                <div class="modal-body">
                    <p class="textMessage"></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="_token" class="tokenInput"/>
                    <button type="submit" class="btn btn-warning">Oui, supprimer!</button>
                    <button type="button" class="btn btn-outline-secondary closeBtn" data-dismiss="modal" >Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>