{% extends 'base.html.twig' %}

{% block title %}
    {{ construction_site.id == null ? "Nouveau chantier" : construction_site.name }}
{% endblock %}

{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ construction_site.id == null ? "Nouveau chantier" : "Chantier: " ~  construction_site.name }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="{{ path('construction_site_index') }}" class="btn btn-sm btn-outline-secondary">Tous les chantiers</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">

    {% include 'partials/_form.html.twIg' %}

    </div>
</main>
{% endblock %}
